[IonMatchingPipeline]
ms1_matching_output_file  = ../../data/USSR_20150113/ResultOf20131219_006_isos.csv 
ms2_decon_file = ../../data/USSR_20150113/20131219_006.mzML.results
glycosylation_sites_file = ../../data/USSR_20150113/USSR-glycosites.txt
protein_prospector_file = ../../data/USSR_20150113/KK-USSR-prospector-20150113.xml
db_file_name = ../../data/USSR_20150113/ResultOf20131219_006_isos.db
model_file_path = ../../data/USSR_20150113/ResultOf20131219_006_isos.model.json
test_model_file_path = ../../data/GlycReSoftModels/20131219_006_isos_USSR_model.json
classification_results_file = ../../data/USSR_20150113/ResultOf20131219_006_isos.scored.json
postprocessed_ions_file  = ../../data/USSR_20150113/ResultOf20131219_006_isos.processed.json
